:root {
  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --Softred: hsl(14, 88%, 65%);

  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --Softred: hsl(14, 88%, 65%);

  --Verydarkgrayishblue: hsl(237, 12%, 33%);
  --Darkgrayishblue: hsl(240, 6%, 50%);
  /*Dividers*/
  --Lightgrayishblue: hsl(240, 5%, 91%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 375px;
  background-color: ;
}
